.booked-tours-client {
    max-height: 90%;
    overflow-y: scroll;
}

.booked-tours-client .tour {
    width: 100%;
    height: 240px;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 32px;
}


.booked-tours-client .name {
    font-size: x-large;
    text-transform: capitalize;
    margin-bottom: 16px;
}

.booked-tours-client button {
    position: absolute;
    top: 12px;
    right: 18px;
    z-index: 10;
}

.booked-tours-client .bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(70%);
}

.booked-tours-client .details {
    width: max-content;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
    background-color: var(--dark-opacity);
    border: 1px solid var(--gold);
    border-radius: 16px;
    padding: 12px;

}

.booked-tours-client .body {
    display: flex;
    justify-content: space-between;
}

.booked-tours-client .body .wrapper+.wrapper {
    margin-left: 24px;
}


.booked-tours-client .body img,
.booked-tours-client .body p {
    margin: 0;
    margin-left: 6px;

}

.booked-tours-client .detail {
    margin-bottom: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.booked-tours-client .value {
    margin-left: 12px;
    text-align: right;
    flex: 1;
}

/* cập nhật thông tin */

.update-info {
    width: 340px;
    margin: 0 auto;
}

.update-info a {
    text-decoration: underline;
    font-weight: bold;
}

.update-info img {
    width: 220px;
}

/* 
.update-info label {
    cursor: pointer;
    display: block;
    margin-top: 12px;
}

.update-info input,
.update-info select {
    color: var(--white);
    background-color: var(--dark);
    padding: 10px 12px;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    border-radius: 8px;
    display: block;
} */


.update-info label {
    padding-left: 8px;
    margin: 12px 0 4px;
    color: var(--gold);
}

.update-info input,
.update-info select {
    width: 100%;
    border-radius: 32px;
    border: 2px solid var(--gold);
    height: 40px;
    padding: 4px 8px;
    margin: 6px 6px 0 0;
}


.input-gr {
    position: relative;
}