body {
  color: var(--purple-dark);
  background-color: rgb(245, 245, 245);
}

main {
  min-height: 70vh;
  border-radius: 32px;
  box-shadow: 0px 6px 8px var(--dark-opacity);
  padding: 12px 12px;
}

a {
  color: var(--purple-dark);
}

table {
  border-collapse: collapse;
  min-width: 100%;
  position: relative;
  margin-top: 16px;
}

tr {
  position: relative;
}

tr:nth-child(1) {
  position: sticky;
  top: 0;
}

tr:hover {
  background: var(--purple-light);
}


tr img {
  max-width: 50px;
  object-fit: cover;
}

tr td {
  border-bottom: 1px solid var(--purple);
  position: relative;
}

th {
  background: var(--purple-light);
  border-bottom: 2px solid var(--purple-dark) !important;
  font-size: .9rem;
}

th,
td {
  border: none;
  padding: 8px;
  position: relative;
  text-align: center;
}

.id-value {
  color: var(--purple-dark);

  font-style: italic;
}

.value {
  color: var(--black);
  font-weight: 600;
}

.status-green {
  background-color: var(--green);
  color: var(--black);
  display: inline-block;
  border-radius: 16px;
  padding: 4px 16px;
}

.status-red {
  background-color: var(--red);
  color: var(--black);
  display: inline;
}

.btn-green {
  background-color: var(--green);
  color: var(--black);
}

.btn-red {
  background-color: var(--red);
  color: var(--black);
  padding: 2px 6px;
}

.btn-purple {
  color: var(--purple-dark);
  background-color: var(--purple-light);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 12px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: .2s;
}

.btn-purple:hover {
  filter: brightness(95%)
}

.search-input::-webkit-input-placeholder {
  color: var(--purple-dark) !important;
}

.search-input {
  box-shadow: inset 0px 0px 4px var(--purple-dark);
  padding: 8px 12px 8px 32px;
  border-radius: 6px;
  background-color: var(--purple-light);
  color: var(--purple-dark) !important;
  border: none;
}


.options {
  cursor: pointer;
  position: relative;
}

.options:hover .options-container {
  display: flex;
}

.options-container {
  display: none;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 0;
  bottom: calc(-100% + 12px);
  background-color: var(--purple);
  padding: 6px 6px;
  z-index: 5;
}


.options-container::before {
  display: block;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid var(--purple);
  right: 20px;
  top: -10px;
}


.option {
  cursor: pointer;
}

.option~.option {
  margin-left: 10px;
}

.option:hover {
  filter: brightness(200%);

}

form {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  width: 70%;
}

form label {
  display: block;
  font-weight: bold;
  margin-top: 32px;
  margin-bottom: 4px;

}

form input {
  color: var(--purple-dark);
  background-color: var(--purple-light);
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
  width: 100%;
}

form button {
  display: block;
  width: min-content;
  margin: 24px auto 0;
}

.btn-add {
  margin-left: auto
}

.filter {
  box-shadow: inset 0px 0px 4px var(--purple-dark);
  color: var(--purple-dark);
  background: var(--purple-light);
  border: none;
  padding: 6px 8px;

}