@import "../shared/manage-side.css";

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 16px 32px;
}

header a {
  display: flex;
  justify-content: center;
  align-items: center;
}

header a img {
  margin-right: 6px;
}

.main-content {
  padding: 16px 32px;
  display: flex;

}

.side-bar {
  display: flex;
  flex-direction: column;
  background-color: var(--purple-light);
  max-width: 250px;
  width: 20%;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, .3);
  border-radius: 12px;
  margin-right: 32px;
}

.side-bar a {
  line-height: 50px;
  margin-bottom: 16px;
  padding: 0 16px;
  color: var(--purple-dark);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.side-bar a:hover {
  background-color: var(--purple);
}

.side-bar a img {
  width: 24px;
  margin-right: 12px;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

main .title {
  text-transform: uppercase;
  border-bottom: 1px solid var(--purple-dark);
  margin-bottom: 16px;
}


.search-container {
  position: relative;
  margin-right: 24px;
}

.search-container img {
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
}

.search-container input {
  width: 30vw;
  min-width: 200px;
}






/* tour */
.tour-popup form {
  height: 80%;
  width: 100%;

}

.tour-popup label {
  margin-top: 12px;
}

.flex-1 {
  flex: 1 1 0;
}

.big-display {}

.small-display {
  width: 32px;
  height: 32px;
}

.tour-popup form label {
  width: 100%;
}

.images img {}

.big-display {
  border-radius: 12px;
}

.small-display {
  border-radius: 6px;
  margin-top: 12px;
  width: 15%;
  height: 55px;
  object-fit: cover;
}

.intro,
.detail {
  height: 80px;
  width: 100%;
  resize: none;
  padding: 6px 10px;
  background-color: var(--purple-light);
  border: none;
}

.options-container {
  bottom: -16px;
  right: 6px;
}