/* tour */
.tour-popup form {
  height: 80%;
  width: 100%;

}

.tour-popup label {
  margin-top: 12px;
}

.flex-1 {
  flex: 1 1 0;
}

.small-display {
  width: 32px;
  height: 32px;
}

.tour-popup form label {
  width: 100%;
}

.images img {}

.big-display {
  border-radius: 12px;
}

.small-display {
  border-radius: 6px;
  margin-top: 12px;
  width: 15%;
  height: 55px;
  object-fit: cover;
}

.intro,
.detail {
  height: 80px;
  width: 100%;
  resize: none;
  padding: 6px 10px;
  background-color: var(--purple-light);
  border: none;
}

.options-container {
  bottom: -16px;
  right: 6px;
}